@model _01_Two_Forms_One_Page.Models.Duck
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duckument</title>
</head>
<body>
    <h2>Create a Duck</h2>
    <partial name="DuckFormPartial" />

    <h2>Create a Goose</h2>
    <partial name="GooseFormPartial" />
</body>
</html>